* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login_link {
    margin: 10px 0 0 0;
    display: none;
}

#username {
    margin: 10px 0 0 0;
    padding: 8px 15px;
    border-radius: 10px;
}

#color_picker {
    margin: 10px 0;
    border: none;
    cursor: pointer;
}

#grid {
    display: grid;
    width: 600px;
    height: 600px;
    /* gap: 2px; */
    border: 1px solid black;
    margin: 10px 0;
}

.cell {
    background-color: white;
    /* border: 1px solid black; */
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }
}
