* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#color_picker {
    margin: 10px 0;
    border: none;
    cursor: pointer;
}

#grid {
    display: grid;
    width: 800px;
    height: 800px;
    /* gap: 2px; */
    border: 1px solid black;
    margin: 10px 0;
}

.cell {
    background-color: white;
    /* border: 1px solid black; */
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }
}
